body {
    max-width: 1024px;
    margin: 0 auto;
    padding: 30px 10px;
}

button {
    padding: 5px 30px;
}

p {
    font-size: larger;
}

.examples__panel {
    margin-bottom: 50px;
}

.examples__sources {
    margin-top: 50px;
}

.examples__sources-list {
    margin-left: 10px;
    padding: 5px 10px;
}

.example__description {
    margin-bottom: 50px;
    font-size: x-large;
}
